.cabecalho__menu-hamburguer {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url(../img/MenuAberto.svg);
}

.container__botao:checked ~ .container__rotulo {
    background: var(--font-primary-color);
}

.cabecalho {
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__img {
    padding: 1rem;
}

.container__botao {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    z-index: 2;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1rem;
    background-color: var(--header-color);
}

.lista-menu__titulo {
    color: var(--font-secundary-color);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--font-primary-color);
    background-clip: text;  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--font-secundary);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1rem;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--font-quartenary-color);
    }

    .favoritos {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--font-primary-color);
        color: var(--header-color);
    }

    .opcoes__item {
        padding: 2rem 1rem;
    }

    .lista-menu__item:hover {
        background: var(--font-primary-color);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--header-color);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--font-quartenary-color);
    }

    .container__texto {
        display: block;
    }

    .cabecalho {
        padding: 0 2rem;
    }

    .opcoes {
        margin-right: auto;
    }
}